<h1>{{name}}</h1>
<dl>

    <td> Nombre
        <dd>
            {{getName()}}
        </dd>
    </td>
    <td> Edad
        <dd>
            {{edad}}
        </dd>
    </td>
    <td> Funcion
        <dd>
            {{obtenerNombre()}}
        </dd>
    </td>
</dl>
<button (click)="cambiarNombre()">
    Cambiar Hereo
</button>
<button (click)="cambiarEdad()">
    Cambiar Edad
</button>