<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    <div class="col">
        <app-personajes ></app-personajes>
    </div>
    <div class="col">
        <app-agregar  
           >
        </app-agregar>    
        <!-- [nuevoPersonaje]="nuevoPersonaje" 
        (onNuevoPersonaje)="agregarNuevo($event)"  -->
    </div>

</div>
