.row{
    display: flex;

}
.row h3{
    margin-left: 5px;
}
.col{
    flex-grow: 1;
}
.col input{
    display: block;
    
    margin-bottom: 8px;
}
.col ul{
    list-style: none;
    padding-left: 0;
}