<p>listado works!</p>
<ul *ngFor="let hereo of heroes">
    <li>{{hereo}}</li>
</ul>
<div *ngIf="heroeBorrado == ''; else noBorrado">
    
</div>
<ng-template #noBorrado>
    <h3><span> {{heroeBorrado}}</span> </h3>
    <button (click)="borrarHeroe()">Borrar Heroe</button>
</ng-template>
