 <h3>Agregar {{nuevoPersonaje.nombre}}</h3>
        <form (ngSubmit)="agregar()">
           <input 
                type="text" 
                placeholder="Nombre" 
                name = "Nombre"
                [(ngModel)] = nuevoPersonaje.nombre>
           <input 
                type="number" 
                name = "Poder"
                
                [(ngModel)] = nuevoPersonaje.poder>
           <button>Agregar</button>
       
        </form>